keyboard_descriptor=	/dev/input/event5
joystick_descriptor=	/dev/input/js0
deskryptor_kamery=	/dev/video0
interfejs_sieciowy=     wlan0
# comport_relayboard=   16
# comport_sk=           17
deadzone_min=          -20000
deadzone_max=          20000
odbiornik_IP=		127.0.0.1
kamera= 0
tryb_wysylania= 1
pelny_ekran= 0
# po znaku równości może być jedna spacja
# wszystko na prawo od znaku równości lub tej spacji jest wartością
# liczby w adresie IP mogą być rozdzielone kropką, drukropkiem, lub myślnikiem
# puste linie i linie zaczynające się od "#" są ignorowane
